In [2]:
# Importing pandas python lib
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [3]:
# Reading the data from excel file and print 6 rows from it
students_df = pd.read_excel(r'C:\Users\N7600PC\Desktop\Python Lessons\DevelopiaLessons\Students.xlsx')
students_df.head(6)

NameError: name 'pd' is not defined

In [4]:
# Importing duckdb lib for write sql queries
import duckdb as db

ModuleNotFoundError: No module named 'duckdb'

In [5]:
# Writing query for new column which is called EducationInfo
sql_query = "select *, case when age > 25 then 'Graduated' when age >= 23 then 'Graduated or left less 1 year' else 'Still study' end as EducationInfo from students_df"
df = db.query(sql_query).to_df()
df.head(6)

NameError: name 'db' is not defined

In [6]:
# Importing pyodbc
import pyodbc

ModuleNotFoundError: No module named 'pyodbc'

In [7]:
# Creating connection and try it if there has error or not
connection_string = (
    r'DRIVER={ODBC Driver 17 for SQL Server};'
    r'SERVER=LAPTOP-IVSC51O5\SQLEXPRESS;'
    r'DATABASE=AdventureWorks2022;'
    r'Trusted_Connection=yes;'
)

# If there isn't error, print Connection is Succesfull, else print Exception
try:
    conn = pyodbc.connect(connection_string)
    print('Connection is Succesfull')
except Exception as e:
    print(e)

name 'pyodbc' is not defined

In [8]:
# Creating cursor for to do as bridge role 
cursor = conn.cursor()

NameError: name 'conn' is not defined

In [9]:
# Creating new table above AdventureWorks2022 database in DBO schema
table_name = "NewSchema"

# Executing cursor
cursor.execute(f"""
IF OBJECT_ID('{table_name}', 'U') IS NOT NULL
    DROP TABLE {table_name};

CREATE TABLE {table_name} (
    name NVARCHAR(255),
    surname NVARCHAR(255),
    age FLOAT,
    EducationInfo TEXT
);
""")

# I did iteration for add columns to SQL table which I created
for _, row in df.iterrows():
    cursor.execute(f"INSERT INTO {table_name} (name, surname, age, EducationInfo) VALUES (?, ?, ?, ?)", 
                   row['Name'], row['Surname'], row['Age'], row['EducationInfo'])

# Commit and must to close cursor and connection
conn.commit()
cursor.close()
conn.close()

NameError: name 'cursor' is not defined